*{

    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "Noto sans";
 
}



h2{

font-family: Gloria Hallelujah;
font-weight: 400;
font-size: 45px;
line-height: 45px;

}

h3{

font-family: Gloria Hallelujah;
font-weight: 400;
font-size: 28px;
line-height: 28px;

}

a{
text-decoration: none;
}



ul{

    list-style: none;
}


/* ↑↑↑ style appliqué à tout */
/* ↓↓↓ header */

header{

    max-width: 1903px;
display: flex;
margin: auto;
justify-content: space-evenly;
margin-top: 10px;
margin-bottom: 10px;

}

header img{

    max-width: 180px;
}

header ul{
display: flex;
gap: 15px;
padding: 0;

}

header nav{

    align-content: space-evenly;
}

header div{

    align-content: space-evenly;
    width: 210px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

header i{
    margin: 0 6px;
    color: #CC3900;
}

header a{

font-weight: 600;
font-size: 16px;
line-height: 24px;
color: black;

}

header a:hover{

    color: #CC3900;
}

#bm{

    display: none;
}

@media screen and (max-width :1024px) {
    
    header nav{

        display: none;
    }

#bm{

    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
   align-self: center;
}

header div{

    display: none;
}

header{
    justify-content: space-between;
}

}

/* footer↓↓↓ (c cpcc du header) */

footer{

    max-width: 1903px;
display: flex;
margin: auto;
justify-content: space-evenly;
margin-top: 10px;
margin-bottom: 10px;

}

footer img{

    max-width: 180px;
}

footer ul{
display: flex;
gap: 15px;
padding: 0;

}

footer nav{

    align-content: space-evenly;
}

#ftd2{

    align-content: space-evenly;
    width: 210px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

footer i{
    margin: 0 6px;
    color: #CC3900;
}

footer a{

font-weight: 600;
font-size: 16px;
line-height: 24px;
color: black;

}

footer a:hover{

    color: #CC3900;
}

#ftd1{

    display: grid;
}
#ftd3{
justify-content: center;
    display: flex;
}

#ftd3 a{

    font-weight: 400;
}


@media screen and (max-width :1024px) {
    
    #ftd1{

        display: none;
    }



footer{
    justify-content: space-between;
}

}
#submenu{
    display: none;
}

#bm:hover #submenu{
    
    background-color: white;
    display: grid;
    list-style: none;
    gap: 15px;
    position: absolute;
    padding: 15px 0;
}

/*  ↑↑↑ ça change pas */

#s1{
    
    height: 400px;
        align-content: space-evenly;

}

h1{

font-family: Gloria Hallelujah;
font-weight: 400;
font-size: 45px;
line-height: 45px;
padding: 20px 0px;
text-align: center;
    max-width: 1440px;
    margin: auto;
}

#s2a9{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7A7A7A;
}
#s2a9:hover{
color: #CC3900;

}

#s2{
    max-width: 1440px;
    margin: auto;
}

.s2d1{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.s2d1 h2{
font-family: Noto Sans;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: black;
    padding-bottom: 5px;

}

.s2d2{
    color: #9C9C9C;
    display: flex;
        padding-bottom: 10px;
}

.s2d2 a{
    color: #9C9C9C;
}

.s2d2 a:hover{
    color:#CC3900;
}

.s2d1>article>p{
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #6A6A6A;
padding-bottom: 5px;
}

.s2d1>article>a{

    color: #605BE5;
}

.s2d1>article>a:hover{

    color:#CC3900;
}

.s2d1 img{

    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
}

#s2a1{
    color: white;
    background-color: #605BE5;
    border-radius: 3px;
     display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 8px 22px;
    width: fit-content;
    justify-self: center;
}

#s2a1:hover{
background-color: #605be546;
color: #605BE5;
}

@media screen and (max-width :1024px) {
.s2d1{
    grid-template-columns: 1fr;
}
}



/* test */


h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #FBBBCD;
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}


body h1 {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: "Gloria Hallelujah", sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

