*{

    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "Noto sans";
 
}

h1{

font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #CC3900;

}

h2{

font-family: Gloria Hallelujah;
font-weight: 400;
font-size: 45px;
line-height: 45px;

}

h3{

font-family: Gloria Hallelujah;
font-weight: 400;
font-size: 28px;
line-height: 28px;

}

a{
text-decoration: none;
}



ul{

    list-style: none;
}


/* ↑↑↑ style appliqué à tout */
/* ↓↓↓ header */

header{

    max-width: 1903px;
display: flex;
margin: auto;
justify-content: space-evenly;
margin-top: 10px;
margin-bottom: 10px;

}

header img{

    max-width: 180px;
}

header ul{
display: flex;
gap: 15px;
padding: 0;

}

header nav{

    align-content: space-evenly;
}

header div{

    align-content: space-evenly;
    width: 210px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

header i{
    margin: 0 6px;
    color: #CC3900;
}

header a{

font-weight: 600;
font-size: 16px;
line-height: 24px;
color: black;

}

header a:hover{

    color: #CC3900;
}

header button{

    display: none;
}

@media screen and (max-width :1024px) {
    
    header nav{

        display: none;
    }

header button{

    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
   align-self: center;
}

header div{

    display: none;
}

header{
    justify-content: space-between;
}

}

/* footer↓↓↓ (c cpcc du header) */

footer{

    max-width: 1903px;
display: flex;
margin: auto;
justify-content: space-evenly;
margin-top: 10px;
margin-bottom: 10px;

}

footer img{

    max-width: 180px;
}

footer ul{
display: flex;
gap: 15px;
padding: 0;

}

footer nav{

    align-content: space-evenly;
}

#ftd2{

    align-content: space-evenly;
    width: 210px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

footer i{
    margin: 0 6px;
    color: #CC3900;
}

footer a{

font-weight: 600;
font-size: 16px;
line-height: 24px;
color: black;

}

footer a:hover{

    color: #CC3900;
}

#ftd1{

    display: grid;
}
#ftd3{
justify-content: center;
    display: flex;
}

#ftd3 a{

    font-weight: 400;
}


@media screen and (max-width :1024px) {
    
    #ftd1{

        display: none;
    }



footer{
    justify-content: space-between;
}

}

/* main ↓↓↓ */


#s1 hr{

    border-color: #CC3900;
    border-width: 1px;
    width: 50px;
    align-self: center;
}

#s1d1{

    display: flex;
}

#s1 h1{

    padding-left:10px;
}

#s1{
    max-width: 1903px;
    margin: auto;
}

#s1gd{
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

#s1 {background-image:url(../img/f178c69b0daf7b8947f82f56f38421d7504092c1.png)}
#s1 {background-position: right;}
#s1 {background-repeat: no-repeat;}
#s1 {background-size: 56%;}

#s1 img{

    padding: 30px 15px;
    width: 618px;
}

#s1 article{
    align-self: center;
}

#s1 h2{
       padding-top: 40px;
       padding-bottom: 20px;
}

#s1 h3{
       padding-top: 20px;
       padding-bottom: 20px;
}

#s1 p{

font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 512px;
padding-bottom: 50px;

}

#s1 button{


padding-top: 13px;
padding-right: 25px;
padding-bottom: 13px;
padding-left: 25px;
border-width: 1px;
border-color: #FBBBCD;
background-color: white;

font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
}

#s2 p{

font-weight: 400;
font-size: 18px;
line-height: 27px;
vertical-align: middle;

}

#s2 {

    display: flex;
    max-width: 1903px;
    margin: auto;
}

#s2 article{

    background-color: #FBBBCD;
    align-content: space-evenly;
    padding: 150px;
    max-width: 720px;
}

#s2d2{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
max-width: 951px;
padding: 10px;
    gap: 10px;
}
#s2d3{
display:grid;
grid-template-columns: 1fr 1fr;
max-width: 951px;
padding: 10px;
    gap: 10px;
    padding-top: 0;

}

#s2d2 img{
    max-width: 235px;
    min-height: -webkit-fill-available;
    object-fit: cover;
}

#s2d3 img{
height: -webkit-fill-available;
    object-fit: cover;
}
#s2 img{

    width: 100%;
}

#imgchiante{

  container-type: inline-size;
}

#imgrelou{

   width: -webkit-fill-available;
   
}


#s2 h2{

    padding-bottom:50px;
}

#s2 p{

    padding-bottom: 15px;
}

#s2 a{
    color: black;
    padding-left: 10px;
    font-family: Noto Sans;

text-decoration: underline;
text-decoration-style: solid;

text-decoration-thickness: 0%;

}

#s2{

    margin-top: 100px;
    margin-bottom: 100px;
}

#s2d1{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#s3{

    max-width: 1440px;
    margin: auto;
}

#s3 button{

padding-top: 13px;
padding-right: 25px;
padding-bottom: 13px;
padding-left: 25px;
border-width: 1px;
border-color: #FBBBCD;
background-color: white;

font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
}


#s3d1{

    display: flex;
    justify-content: space-between;
}

#s3d2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
        gap: 25px;

}

#s3 img{

    width: fit-content;
    height: 50%;
    width: 100%;
    object-fit: cover;

}

#s3 h3{
    text-align: center;
    padding: 10px 0;
}

#s3 p{

    padding-top: 10px;
}

#s4{

    background-color: #F7F7F7;
}

#s4gd{
    max-width: 1440px;
    margin: auto;
}

#s4 h2{
text-align: center;
padding-top: 70px;
padding-bottom: 70px;

}

.s4d1{

    display: flex;
    justify-content: space-between;
}

.s4d9{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 15px 40px 15px;
}

#s4 img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#s4 h3{

    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

#s4 p{

font-weight: 400;
font-size: 14px;
line-height: 21px;
padding-bottom: 25px;

}

#s4 i{

    color: #CC3900;
}
#s4 span{

  align-content: space-evenly;
}

.s4aaa{

padding-top: 13px;
padding-right: 25px;
padding-bottom: 13px;
padding-left: 25px;
border-width: 1px;
border-color: #FBBBCD;
background-color: white;
    border-style: solid;

font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
color: black;
}


#s5{
    max-width: 1440px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 70px;
}

#s5d1{

    display: flex;
    justify-content: space-between;
}

#s5a1{

    padding-top: 13px;
padding-right: 25px;
padding-bottom: 13px;
padding-left: 25px;
border-width: 1px;
border-color: #FBBBCD;
background-color: white;
    border-style: solid;

font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
color: black;

}

#s5 h3{
    font-size: 18px;
}

#s5 a{
    color: black;
}

.s5a2{

font-weight: 600;
font-size: 16px;
line-height: 24px;

}

#s5d2{

    display: grid;
    grid-template-columns: 1f 1fr 1fr;
}